@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');

/* CSS Document */
html,body{padding:0; margin:0;}
.container{width:1850px;margin:0 auto; }
.container_s{width:1200px;margin:0 auto; }


/* Default Setting */
html, body, div, input, label, select, textarea, button, h1, h2, h3, h4, h5, h6, strong, p, span, a, ul, li, dl, dt, dd, a, ::after, ::before { font-family: 'Noto Sans KR', 'Malgun Gothic', 'Dotum', sans-serif; font-size: 14px; color: #000; font-weight: normal; letter-spacing: -1px;}
*, ::before, ::after {margin: 0; padding: 0; box-sizing: border-box; letter-spacing: -1px;}
html, body {font-family: 'Noto Sans KR',  sans-serif; font-size: 14px; color: #000; font-weight: normal; letter-spacing: -1px;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, strong, address {display: block;}
ul, ol, li {list-style: none;}
a {display: inline-block; text-decoration: none; vertical-align: top;}
span {display: inline-block; vertical-align: top;}
img {max-width: 100%; border: 0; vertical-align: top;}
em, address {font-weight: normal; font-style: normal;}
hr {border: 0; margin: 30px 0; padding: 0; border-bottom: 1px solid #000;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ""; content: none;}
table {width: 100%; border-collapse: collapse; border-spacing: 0; table-layout: fixed; word-break: break-all;}
textarea {resize: none; outline: 0; vertical-align: top;}
button {display: inline-block; font-family: inherit; text-decoration: none; background: transparent; border: none; outline: 0; white-space: nowrap; vertical-align: top; cursor: pointer;}
.white-popup {position: relative; background: #FFF; padding: 20px; width: auto; max-width: 500px;margin: 20px auto; }
.s1wiper-container {width: 600px; height: 300px;}


@-webkit-keyframes zoom-a {
	0% { background-size: 120% auto; }
	100% { background-size: 105% auto; }
}
@-moz-keyframes zoom-a {
	0% { background-size: 120% auto; }
	100% { background-size: 105% auto; }
}
@-o-keyframes zoom-a {
    0% { background-size: 120% auto; }
	100% { background-size: 105% auto; }
}
@keyframes zoom-a {
	0% { background-size: 120% auto; }
	100% { background-size: 105% auto; }
}


#top_gnb *{margin:0;padding:0;list-style:none}
#top_gnb img{border:0}
#top_gnb a{text-decoration:none}

#top_gnb {position:relative;max-width: 2000px;  min-width:1850px;  height:80px; margin:0 auto; background:#222222;}
#top_gnb .DB_wrap{position:relative;width:1850px; overflow:hidden; margin:0 auto;/*비표준=>left:50%;margin-left:-500px*/;height:80px}
#top_gnb .DB_wrap h1{margin:10px 25px 0 0;float:left; color:#fff; font-size:0px}
#top_gnb .DB_wrap h1 a{color:#fff;}
#top_gnb .DB_wrap .DB_main{float:left;_padding-top:29px}
#top_gnb .DB_wrap .DB_main li{float:left;width:270px; height:80px; line-height:80px;  text-align:center}
#top_gnb .DB_wrap .DB_main li a{display:block;width:100%;height:100%; color:#fff; font-size:20px;}
#top_gnb .DB_wrap .DB_main li a:hover{color:#e21c34;}
#top_gnb .DB_wrap .DB_main li.DB_select{}
#top_gnb .DB_wrap .DB_main li.redbox{background: url("../images/gnb_redbox.jpg");}

#top_gnb .DB_mask{position:absolute;z-index:100; width:100%;min-width:1000px;height:338px/*서브메뉴전체높이*/;overflow:hidden;display:none}
#top_gnb .DB_mask .DB_move{position:relative;width:100%; background:url('../images/gnb_overbg.png') repeat-x center 0;height:338px;top:-338px/*위로 메뉴숨기기*/;}
#top_gnb .DB_mask .DB_move .DB_subSet{position:relative;width:1850px;margin:0 auto;/*비표준=>left:50%;margin-left:-500px*/;padding-top:20px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul{float:left;width:270px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul:first-child{margin-left:232px}/*비표준=> 첫번째 li에 클래스로 적용*/
#top_gnb .DB_mask .DB_move .DB_subSet ul li{text-align:center; font-size: 18px;line-height: 40px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul li a{display:block;color:#ffffff; font-size:18px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul li a:hover{color:#e21c34;font-weight:bold;letter-spacing:-1px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul li.DB_select a{color:#e21c34;font-weight:bold;letter-spacing:-1px;}
#top_gnb .DB_mask .DB_move .DB_close{position:absolute;top:130px;right:10px;cursor:pointer;}

#warp .top_select{position:relative;  min-width:1850px;  max-width: 2000px; margin:0 auto; background:#222222; height: 40px; border-bottom:1px solid #5a5a5a; }
#warp .top_select .container{padding-top:13px;}
#warp .top_select .container .ts_right{text-align:right; float:right; margin-right:10px; display: inline-block;}
#warp .top_select .container .ts_right li{display:inline-block; margin:0 9px 0 0;}
#warp .top_select .container .ts_right li::before{padding-right:9px ;content:"┃"; color: #fff;}
#warp .top_select .container .ts_right li:first-child::before{content: "";}
#warp .top_select .container .ts_right a{color:#9c9c9c;} 

.per_up{color:#ff1725; font-weight:600; padding-right:10px}
/* 셀렉트 박스 */
.where {display: block;_margin: 25px 15px;font-size: 11px;color: #9c9c9c;text-decoration: none;font-family: verdana;font-style: italic;}
.selectbox {position: relative;width: 60px;_border: 1px solid #999;z-index: 1;float:right;}
.selectbox:before {content: "";position: absolute;top: 50%;right: 15px;width: 0;height: 0;margin-top: -1px;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #9c9c9c;}
.selectbox label {position: absolute;top: 1px;left: 5px;padding: 0 0px;color: #999;z-index: -1;}
.selectbox select {width: 100%;height: auto;line-height: normal;font-family: inherit;padding: 0 10px;border: 0;opacity: 0;filter:alpha(opacity=0);-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.selectbox_s {position: relative;_width: 60px;_border: 1px solid #999;z-index: 1;}
/* 셀렉트 박스 */

/* 체크 박스 */
.checks {position: relative; padding-bottom:5px;}
.checks input[type="checkbox"] {position: absolute;  width: 1px;  height: 1px;  padding: 0;  margin: -1px;  overflow: hidden; clip:rect(0,0,0,0);  border: 0}
.checks input[type="checkbox"] + label {color: #ffffff;  display: inline-block;  position: relative;  cursor: pointer;  -webkit-user-select: none;  -moz-user-select: none; -ms-user-select: none;}
.checks span{color:#fff; margin-left:10px;}
.checks input[type="checkbox"] + label:before {content: ' ';  display: inline-block;  width: 14px; height: 14px; line-height: 14px;  margin: -2px 8px 0 0;  text-align: center;   vertical-align: middle;  background: #fafafa;  color:#fff;  border-radius : 3px;  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.checks input[type="checkbox"]:checked + label:before {content: '\2714'; color: #fff; font-size:12px; background: #ff0e26;}

.checks_s {position: relative; padding-bottom:5px;}
.checks_s input[type="checkbox"] {position: absolute;  width: 1px;  height: 1px;  padding: 0;  margin: -1px;  overflow: hidden; clip:rect(0,0,0,0);  border: 0}
.checks_s input[type="checkbox"] + label {color: #aaaaaa; font-size:11px; display: inline-block;  position: relative;  cursor: pointer;  -webkit-user-select: none;  -moz-user-select: none; -ms-user-select: none;}
.checks_s span{color:#aaaaaa; margin-left:10px;}
.checks_s input[type="checkbox"] + label:before {content: ' ';  display: inline-block;  width: 11px; height: 11px; line-height: 11px;  margin: -2px 8px 0 0;  text-align: center;   vertical-align: middle;  background: #fafafa;  color:#fff;  border-radius : 3px;  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);}
.checks input[type="checkbox"] + label:active:before,
.checks_s input[type="checkbox"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.checks_s input[type="checkbox"]:checked + label:before {content: '\2714'; color: #fff; font-size:12px; background: #ff0e26;}
.checks_s span{font-size:11px; line-height: 14px; cursor: pointer;}
/* 체크 박스 */

/* 버튼색 */
.darkbtn{border: 1px solid #000000;}
.wwhitebtn{border: 1px solid #ffffff; color:#fff !important;}
/* 버튼색 */

.top_title{font-size: 32px; color:#000000; font-weight: 600; padding-top:60px; padding-bottom:20px; text-align:center;}

.scale {transform: scale(1);  -webkit-transform: scale(1);  -moz-transform: scale(1);  -ms-transform: scale(1);  -o-transform: scale(1);  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/}
.scale:hover {transform: scale(1.2);  -webkit-transform: scale(1.2);  -moz-transform: scale(1.2); -ms-transform: scale(1.2);  -o-transform: scale(1.2);}
.img {width:325px; height:280px; overflow:hidden }   /* 부모를 벗어나지 않고 내부 이미지만 확대 */
.swiper-container {width: 100%;  height: 100%;}
.swiper-slide {text-align: center;  font-size: 18px;  background: #fff;  display: -webkit-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-box-pack: center;  -ms-flex-pack: center;  -webkit-justify-content: center;  justify-content: center;  -webkit-box-align: center;  -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;}
#warp .visual .container2{width: 1200px;; height:810px; position: relative; margin:0;}   

/* 비주얼 */
#warp .visual{position:relative;  min-width:1850px;  max-width: 2000px; margin:0 auto; overflow: hidden;  height:810px; }
#warp .visual .visual_img1{position:absolute; width: 100%; height:100%; left:0; top:0; background: url("../images/index_slide1.png") no-repeat center 0; background-size: 100%; max-width:2000px; height:810px;}
#warp .visual .container{width: 1200px;; height:810px; position: relative;}                   
#warp .visual .text_box{position: relative; z-index:10; color:#fff;}
#warp .visual .visual_txt1{font-size:34px; color:#fff; padding-top:240px;}
#warp .visual .visual_txt2{font-size:65px; line-height: 75px; font-weight: 600; color:#fff; padding-top:20px;}
#warp .visual .visual_txt3{font-size:18px; line-height:26px; color:#9a9a9a; padding-top:40px;}
#warp .visual .visual_btn{padding-top:95px;}
#warp .content_main{  min-width:1850px; height: 695px;}
#warp .content_main .container{}
.promo_obj{position: absolute; z-index:9; top:0; right:-260px;}
/* 비주얼 */
#warp .top5_list{height:540px;  overflow: hidden;}
#warp .top5_list.container{position: relative; width:1250px; }
#warp .photo_list{height:665px; overflow: hidden;}
#warp .photo_list.container{position: relative; _width:1250px; }

#warp .index_com_info{  min-width:1850px; max-width: 2000px; margin:0 auto; height: 330px; background:url("../images/index_com_bg.png") center 0; }
#warp .index_com_info .container{position: relative; width:1250px; }
#warp .index_com_info .container .index_com_info_t1{font-size: 34px; color:#000000; font-weight: 600; padding-top:48px; text-align:center;}
#warp .index_com_info .container .index_com_info_t2{font-size: 16px; color:#444444; font-weight: 500; line-height:24px; padding-top:20px; text-align:center;}
#warp .index_com_info .container .index_com_info_t3{font-size: 16px; color:#fff; font-weight: 400; line-height:20px; padding-top:32px; padding-bottom:50px;}

.rank_border{background:url("../images/trophy.png") no-repeat 164px 20px ;width:206px; height:259px; border:1px solid #ebebeb; padding:18px 0 15px 20px}
.rank_title{font-size:34px; color:#d7d7d7; padding-top:0;}
.rank_txt1{font-size:22px; color:#000; padding-top:16px;}
.rank_txt2{font-size:30px; color:#ff0e26; padding-top:34px;}
.rank_txt3{font-size:14px; color:#9a9a9a; padding-top:34px;}
.rank_txt4{font-size:14px; color:#000; padding-top:0;}
.txt_red{color:#ff0e26;}
.rank_ul{}
.rank_ul li{display:inline-block; margin-right:35px;}
.rank_ul li:last-child {margin-right:0px;}

#page1{text-align: center; padding-top:15px;}
.switch_menu{text-align: center; cursor: default; padding-bottom:11px; border-bottom: 2px solid #e0e0e0; color: #000000; display:inline-block; padding-left:10px; padding-right:10px;}
.switch_menu a{color: #000000; cursor: pointer; border-radius: 25px; padding:7px 20px;}
.switch_menu a.selected{color: #fff; background: linear-gradient(-45deg, #500b28, #e21c34); box-shadow: .15em .15em .8em rgba(0,0,0,.4);}
.sub_raking{padding-top:47px;}

#warp .photo_list{position:relative;   min-width:1850px;  height:565px;  }
#warp .photo_list .container{overflow: hidden;}
#warp .index_form{position:relative;  max-width: 2000px; margin:0 auto;   min-width:1850px;  height:530px; background:url("../images/index_form_bg.png") center 0;}
#warp .index_form .container{position: relative; width:1250px;}

.index_form_l{position:relative; display:inline-block; width: 600px;}
.index_form_r{position:relative; display:inline-block; width: 600px; padding-top:175px; vertical-align: top;}
.index_form_l_t1{font-size: 24px; color:#fff; font-weight: 500; padding-top:115px;}
.index_form_l_t2{font-size: 50px; color:#fff; font-weight: 600; line-height:56px; padding-top:20px;}
.index_form_l_t3{font-size: 16px; color:#fff; font-weight: 400; line-height:22px; padding-top:32px; padding-bottom:50px;}
.index_com_info_icon{position:relative; margin:0 auto; text-align:center; padding-top:30px; padding-left:80px;}
.index_com_info_btn{text-align: center; margin: 0 auto; padding-top: 30px;}
.icon1{background:url("../images/i_willpower.png") no-repeat;}
.icon2{background:url("../images/i_statistics.png") no-repeat;}
.icon3{background:url("../images/i_targeted.png") no-repeat;}
.icon4{background:url("../images/i_trophy.png") no-repeat;}

/*TAB CSS*/

ul.tabs{text-align: center; cursor: default; padding-bottom:11px; border-bottom: 2px solid #e0e0e0; color: #000000; display:inline-block; padding-left:10px; padding-right:10px;}
ul.tabs1 li a{color: #000000; cursor: pointer; border-radius: 25px; padding:7px 20px;}


#page1_tab{text-align: center; padding-top:15px;}
ul.tabs li {display:inline-block;}
ul.tabs li a {color: #000000; cursor: pointer; border-radius: 25px; padding:7px 20px;}
ul.tabs li.active a {color: #fff;}
ul.tabs li a:hover {color: #fff; background: linear-gradient(-45deg, #500b28, #e21c34); box-shadow: .15em .15em .8em rgba(0,0,0,.4);}
html ul.tabs li.active, html ul.tabs li.active a:hover  {color: #fff; cursor: pointer; border-radius: 25px;  background: linear-gradient(-45deg, #500b28, #e21c34); box-shadow: .15em .15em .8em rgba(0,0,0,.4);}
.tab_container {text-align:center;}
.tab_content { padding: 0;}

#warp .analy_list{position:relative; height:700px;  }
#warp .analy_list .container{ _width:100%; max-width:2000px; overflow: hidden; }
.analy_txt1{font-size: 60px; color:#000000; font-weight: 600; padding-top:60px;}
.analy_txt2{font-size: 16px; color:#000000; font-weight: 400; padding-top:40px;}
.analy_txt3{font-size: 28px; color:#000000; font-weight: 600; padding-top:0px;}
.analy_txt4{font-size: 16px; color:#444444; font-weight: 500; padding-top:10px;}
.analy_txt5{font-size: 16px; color:#000000; font-weight: 400; padding-top:25px;}

.analy_btn{padding-top:40px}
.arr_left, .arr_right {position: relative;display: inline-block;}
.arr_right span::after {content: '';    width: 12px; /* 사이즈 */    height: 12px; /* 사이즈 */    border-top: 1px solid #121212; /* 선 두께 */    border-right: 1px solid #121212; /* 선 두께 */    display: inline-block;    transform: rotate(45deg); /* 각도 */    cursor: pointer;}
.arr_left span::after {content: '';    width: 12px; /* 사이즈 */    height: 12px; /* 사이즈 */    border-top: 1px solid #121212; /* 선 두께 */    border-right: 1px solid #121212; /* 선 두께 */    display: inline-block;    transform: rotate(225deg); /* 각도 */    cursor: pointer;}
.swiper_number{display: inline-block;}
.swiper-analy {position: relative;;}
.swiper-slide {text-align: center;  font-size: 18px; background: #fff;    /* Center slide text vertically */display: -webkit-box;    display: -ms-flexbox;    display: -webkit-flex; display: flex;    -webkit-box-pack: center;    -ms-flex-pack: center;    -webkit-justify-content: center;    justify-content: center;    -webkit-box-align: center;    -ms-flex-align: center;    -webkit-align-items: center;    align-items: center;  }

.ana_info1{text-align:left; position: absolute;; margin:295px 0 0 766px;   background:#fff; box-shadow: 10px 10px 10px #f3f3f3; width: 420px; height: 335px; padding:40px 0 0 35px}
.ana_history{text-align:left;background: linear-gradient(-45deg, #500b28, #e21c34); width: 418px; height: 273px; font-size:16px; line-height: 30px;; color:#fff; padding:45px;}
.analy_info_ul{position: absolute; bottom:45px; _padding-top:70px}
.analy_info_ul li{display:inline-block; font-size:14px; font-weight: 500;; border:1px solid #000;     border-radius: 25px; padding:10px 16px; margin-right:5px;}

.ana_slidebox{width:1600px;}
.ana_photo{width: 1000px; height: 700px; position: absolute; }
.ana_info{position: relative; text-align: right;}

.index_analy1{background:url("../images/index_analy1.png") no-repeat;left:0px;}

.ana_table{position: relative; float:right; margin-top:40px; width:410px;}
.ana_table tr{}
.ana_table tr td{font-size:14px; line-height:18px; vertical-align: top;}
.ana_table{ _width:840px;}
.analy_box_size{width:1700px; height: 700px; overflow: hidden;}
.swiper-nav{float:right; padding-top:30px; }
.swiper_number{font-size:16px; color:#000000; width:auto !important; line-height: 16px; padding:0 5px;}
.w840{width: 840px; margin-right:50px; float:right}
.w1600{width:1600px;}
.w1700{width:1600px; margin-right: 100px;}
.swiper-pos{float:right; z-index: 99; margin-right:5px;}
.swiper-pagination-current{font-weight:600;}

.visual-tab .container{width: 100%; max-width: 2000px;}
.visual_bottom{position:absolute; overflow: hidden; width:1200px; height:65px; padding:0 16px 0 16px; top:-33px; left:50%; margin:0 0 0 -600px; background:#222222; color:#fff; z-index: 12;}
.visual_bottom1{position:relative; display:inline-block; vertical-align: top; margin-top:17px; margin-right:19px; color:#ffffff; font-size:14px; padding :7px 12px; border:1px solid #ffffff}
.visual_bottom2{position:relative; height: 64px; display:inline-block; width:auto; vertical-align: top;  overflow: hidden;  }
.visual_bottom3{position:absolute; right:30px; height: 64px; top:20px; display:inline-block;}
.index_bottom_txt1{color:#ffffff; font-weight:600; font-size:16px; }
.index_bottom_txt2{color:#ffffff; font-weight:500; font-size:16px; padding-right:10px}
.index_bottom_txt3{color:#ffffff; font-weight:400; font-size:16px;}
.icnon_btn{cursor: pointer;}

.indexvisual_nav{position: absolute; z-index: 10; top:0;}

.visual_left_btn{position: absolute; top:400px; left:50%; margin-left:-680px; z-index:9;}
.visual_right_btn{position: absolute;top:400px; left:50%; margin-left:680px; z-index:9;}
.indexvisual-container{width: 100%; height: 100%;}
.indexvisual-container .swiper-slide{ text-align: left; background: #fff;  display: -webkit-box; display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-box-pack: center;  -ms-flex-pack: center;  -webkit-justify-content: center;  justify-content: center;  -webkit-box-align: center;  -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;}
.index_bottom-container{width: 100%;  height: 64px;}
.index_bottom-container .swiper-slide {height: 640px;  line-height: 0px;}
.index_bottom-container .swiper-slide{background:transparent !important;  text-align: left;  font-size: 18px;  background: #f000;   color:#fff;  vertical-align: top;  display: -webkit-box; display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-box-pack: center; -ms-flex-pack: center;  -webkit-justify-content: center;  justify-content: center;  -webkit-box-align: center;  -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;}

#ab_navi{	position: absolute;	width: 140px;	right: 0;	top: 135px;  z-index: 99;}
#ab_navi .p_right_banner li{font-size:0;}

#d_tab37{position:relative;height:810px; max-width:2000px; margin:0 auto; overflow:hidden}
#d_tab37 .d_img{height:100%}
#d_tab37 .d_img li{position:absolute;left:100%;top:0;width:100%;height:100%;overflow:hidden}
#d_tab37 .d_img li:first-child{left:0}
#d_tab37 .d_img li .d_bg{position:absolute;left:50%;width:2000px/*가로필수*/;margin-left:-1000px/*가로절반*/;height:100%;}
#d_tab37 .d_img li .d_bg img{width:100%}
#d_tab37 .d_img li .d_bg1{position: absolute; z-index:9; top:0; left:50%; width:836px; height:856px;}
#d_tab37 .d_img li .d_text{position:absolute;width:1200px;left:50%;margin-left:-600px;top:0px}
#d_tab37 .d_img li .d_text .d_move{position:absolute;top:0px;display:none}
#d_tab37 .d_img li .d_text .d_move.c1{top:160px;font-size: 34px; color:#fff; font-weight: 500; _padding-top:160px;}
#d_tab37 .d_img li .d_text .d_move.c2{top:210px; font-size: 65px; color:#fff; font-weight: 600; line-height:78px; }
#d_tab37 .d_img li .d_text .d_move.c3{top:395px; font-size: 18px; color:#fff; font-weight: 600; line-height:26px; }
#d_tab37 .d_img li .d_text .d_move.c4{top:530px; }

#d_tab37 .d_arrow{position:absolute;width:1200px;left:50%;margin-left:-600px;top:50%;margin-top:-50px}
#d_tab37 .d_arrow .d_prev{position:absolute;left:-100px;cursor:pointer;; z-index:99;}
#d_tab37 .d_arrow .d_next{position:absolute;right:-100px;cursor:pointer; z-index:99;}
#d_tab37 .d_btn{position:absolute;width:100%;bottom:20px;text-align:center}
#d_tab37 .d_btn li{display:inline-block;*display:inline;zoom:1;width:14px;height:14px;_background:url('images/main_btn_off.png') no-repeat;margin:0 3px;cursor:pointer}
#d_tab37 .d_btn li.on{_background:url('images/main_btn_on.png') no-repeat}

#ab_form{	position: absolute;	width: 309px;	right: 100px;	top: 570px;  z-index: 99;}
.obj_top{margin:0 auto; text-align:center; z-index:9;}
.obj_bg{width:309px; height:309px; background:url('../images/obj_bg.png') no-repeat; margin-top:-30px}
.scroll_input{width: 216px; height:33px; line-height: 33px; font-size:16px; color:#aaaaaa; padding-left:25px; margin-bottom:4px;}
.popup_form{padding:100px 0 0 50px}
.agp textarea{height: 100%;}
.poup_submit_btn{text-align: center; padding-top:17px;;}
.p_agree_mo_p1{position:absolute;  top:0px; margin-left:-20px; width:88%; height:270px; background:#fff; padding::10px;  z-index:99; border:1px solid #000; display:none;}
.p_agree_mo_p2{position:absolute;  top:0px; margin-left:-20px; width:88%; height:270px; background:#fff; padding::10px;  z-index:99; border:1px solid #000; display:none;}
.agree_mo_p1{position:absolute; top:50px; margin-left:-250px; width:88%; height:270px; background:#fff; padding::10px;  z-index:99; border:1px solid #000; display:none;}
.agree_mo_p2{position:absolute; top:50px; margin-left:-250px; width:88%; height:270px; background:#fff; padding::10px;  z-index:99; border:1px solid #000; display:none;}
.agree_mo_p3{position:absolute; top:50px; margin-left:-250px; width:88%; height:270px; background:#fff; padding::10px;  z-index:99; border:1px solid #000; display:none;}
.agpopup_close { position: absolute; margin-top: -70px; right: -1px;}
/*유튜브 */
.youtube_main{position: relative; height:665px;}
.youtube_main .container{_width: 100%; max-width: 2000px;}
.youtube_main .container1{width: 1200px; margin:0 auto; max-width: 2000px;}
.youtube_contaiter{position: relative; width:1600px; height:665px; float:right; text-align:right;;}
.youtube_info{position: relative; width:400px; display: inline-block; text-align:left;}
.index_video{position: relative; overflow: hidden; padding-top:90px; display: inline-block; vertical-align: top; width: 1195px;}
.youtube_info_txt1{font-size: 24px; color:#000000; font-weight: 400; padding-top:120px;}
.youtube_info_txt2{font-size: 50px; color:#000000; font-weight: 600; padding-top:25px;}
.youtube_info_txt3{font-size: 16px; color:#444444; font-weight: 400; padding-top:35px;}
.youtube_info_btn{padding-top:25px}
.youtube-nav{padding-top:58px}
.youtube_number{display: inline-block; width:auto !important}
.youtube-container {width: 100%; height: 100%;}
.youtube-container .swiper-slide {text-align: center;    font-size: 18px;    background: #f000;    width: 779px;    height: 445px;    display: -webkit-box;    display: -ms-flexbox;    display: -webkit-flex;    display: flex;    -webkit-box-pack: center;    -ms-flex-pack: center;    -webkit-justify-content: center;    justify-content: center;    -webkit-box-align: center;    -ms-flex-align: center;    -webkit-align-items: center;    align-items: center;  }
.you_left, .you_right {position: relative;display: inline-block;}
.you_right span::after {content: ''; width: 12px;  height: 12px; border-top: 1px solid #121212; /* 선 두께 */    border-right: 1px solid #121212; /* 선 두께 */    display: inline-block;    transform: rotate(45deg); /* 각도 */    cursor: pointer;}
.you_left span::after {content: ''; width: 12px;  height: 12px; border-top: 1px solid #121212; /* 선 두께 */    border-right: 1px solid #121212; /* 선 두께 */    display: inline-block;    transform: rotate(225deg); /* 각도 */    cursor: pointer;}
/*유튜브 */

.submit_form_table{position: relative; _width:530px;}
.submit_form_table tr{}
.submit_form_table tr td{font-size:14px; line-height:18px; vertical-align: top;}
.index_input{width: 260px; height: 46px; border:1px solid #fff; padding-left: 20px;;}
.index_submit{width: 182px; height: 139px;}
.index_submit img{border:0; padding:0; margin:0;}
.input_labal{text-align:right; font-size:16px; height: 55px; font-weight:600; color:#fff; padding-right:22px; vertical-align: middle !important;}
.input_size{width:270px; height:55px;;}

.ico_gb{height:44px; padding-left:65px; font-size:14px; line-height:16px; margin-right:80px; padding-top:10px; display: inline-block;}

.btn { display:block; width:200px; height:40px; line-height:40px; border:1px #3399dd solid;; margin:15px auto; background-color:#66aaff; text-align:center; cursor: pointer; color:#333; transition:all 0.9s, color 0.3; } .btn:hover{color:#fff;}
.hover1:hover{ box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset; } 
.hover2:hover{ box-shadow:-200px 0 0 0 rgba(0,0,0,0.5) inset; } 
.hover3:hover{ box-shadow: 0 80px 0 0 rgba(0,0,0,0.25) inset, 0 -80px 0 0 rgba(0,0,0,0.25) inset; } 
.hover4:hover{ box-shadow: 200px 0 0 0 rgba(0,0,0,0.25) inset, -200px 0 0 0 rgba(0,0,0,0.25) inset; }


#warp .banner_slide{position:relative;  min-width:1850px;  height:215px;  }
#warp .banner_slide .container{position:relative; padding-top:64px;}
#warp .banner_slide .container .slide_banner{z-index:2;  position: relative; margin:0 auto;  text-align:center; font-size:0;}
#warp .banner_slide .container .slide_banner li{display:inline-block; margin-right:24px;}
#warp .banner_slide .container .slide_banner_aroow{margin-top:-65px; z-index:1;}
#warp .banner_slide .container .index_bn_left{position: absolute;  width: 25px; height: 48px;}
#warp .banner_slide .container .index_bn_right{position: absolute;   width: 25px; height: 48px; right:0;}
#warp .googlemaps{position:relative;  max-width: 2000px; margin:0 auto;  height:400px;  min-width:1850px; }

#warp .foot_link{position:relative; height:50px;  max-width: 2000px; margin:0 auto;   min-width:1850px;  background:#373737;}
#warp .foot_link .container{width:1250px;}
#warp .foot_link .container .foot_ul{text-align:center; padding-top: 19px;;}
#warp .foot_link .container .foot_ul li{display:inline-block; margin:0 60px 0 0; font-size:14px; }
#warp .foot_link .container .foot_ul li::before{padding-right:60px ;content:"┃"; color: #cccccc;}
#warp .foot_link .container .foot_ul li:first-child::before{content: "";}
#warp .foot_link .container .foot_ul a{color:#cccccc;} 
#warp .foot{position:relative;   max-width: 2000px; margin:0 auto;  min-width:1850px;  height:227px; background:#2a2a2a;}
#warp .foot .container{position:relative;  width:1250px;}
#warp .foot .container .copy_1{font-size:14px; color:#8a8a8a; line-height:20px; padding-top:25px; padding-left:20px;}
#warp .foot .container .copy_1 span{font-size:14px; color:#aeaeae; font-weight:600; padding-top:10px;}
#warp .foot .container .copy_2{position:absolute;  top:25px; right:25px;}
#warp .foot .container .foot_logo{margin-top:50px;    margin-left: 40px; background:url("../images/foot_logo.png"); width: 180px;height: 49px;}
/* 셀렉트 박스 */
.where {display: block;_margin: 25px 15px;font-size: 11px;color: #cccccc;text-decoration: none;font-family: verdana;font-style: italic;}
.foot_selectbox {position: relative;_width: 60px; padding: 9px 50px 9px 14px; border: 1px solid #cccccc;z-index: 1;float:right;}
.foot_selectbox:before {content: "";position: absolute;top: 50%;right: 15px;width: 0;height: 0;margin-top: -1px;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #9c9c9c;}
.foot_selectbox label {position: absolute;top: 1px;left: 5px; padding: 9px 50px 9px 14px;color: #999;z-index: -1;}
.foot_selectbox select {width: 100%;height: auto;line-height: normal;font-family: inherit;padding: 0 10px;border: 0;opacity: 0;filter:alpha(opacity=0);-webkit-appearance: none;-moz-appearance: none;appearance: none;}
/* 셀렉트 박스 */


.swiper_position_b{width: 1720px; overflow: hidden; margin-left:70px;}
.top_110{top:110px !important;}
.swiper_position_p{padding-top:30px;}
.photo_border{border:1px solid #ebebeb; width: 278px !important; height: 333px !important; }
.photo_border img{width: 100%; }
.photo_border:hover{border:1px solid #ebebeb; width: 278px; height: 333px; box-shadow: 3px 3px 7px #efefef;}
.photo_list_btn{text-align: center; margin:0 auto; padding-top:15px;}

.sub_visual{position: relative; height: 305px;}
.sub01{
    background:url("../images/sub_visual1.png") no-repeat ;
    background-size: cover;
    background-position: center center;
    -webkit-animation: zoom-a 20s linear  alternate; /* Safari 4+ */
    -moz-animation:    zoom-a 20s linear  alternate; /* Fx 5+ */
    -o-animation:      zoom-a 20s linear  alternate; /* Opera 12+ */
    animation:         zoom-a 20s linear  alternate; /* IE 10+, Fx 29+ */
}
.center_nav{
    width: 100%;
    background:#fff;
    border:1px solid #d7d7d7;
}
.select_area{ width: 290px;}
.center_nav li{display: inline-block; border-right:1px solid #d7d7d7;   height:59px;}
.center_nav li.home{width:79px; padding-top:14px; text-align:center; vertical-align: top;}
.subvisual_txt1{text-align:center; font-size:50px; color:#fff; font-weight:600; padding-top:85px; }
.subvisual_txt2{text-align:center; font-size:22px; color:#fff; font-weight:500; padding-top:30px;}
.content_nav{
    position: relative;
    margin-top:-30px;
}
.sub_content{ 
    position: relative;
    margin-top:65px;
    margin-bottom:140px;
}
  
  .dropdown {
    width: 100%;
    margin: 0px;
  }
  
  .dropdown dd,
  .dropdown dt,
  .dropdown ul {
    margin: 0px;
    padding: 0px;
  }
  
  .dropdown dd {
    position: relative;
  }
  
  .dropdown a,
  .dropdown a:visited {
    color: #3b3b3b;
    text-decoration: none;
    outline: none;
  }
  
  .dropdown a:hover {
    color: #3b3b3b;
  }
  
  .dropdown dt a:hover {
    color: #3b3b3b;
    border: 1px solid #fff;
  }
  
  .dropdown dt a {
    background: #fff url('../images/select_arrow.png') no-repeat scroll right 10px center;
    display: block;
    padding-right: 20px;
    border: 1px solid #fff;
    width: 100%;
    height: 59px;
  }
  
  .dropdown dt a span {
    cursor: pointer;
    display: block;
    line-height: 59px;
    padding-left: 10px;
  }
  
  .dropdown dd ul {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #9e9e9e;
    color: #515151;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    top: -1px;
    width: 100%;
    min-width: 102px;
    list-style: none;
    text-align: left;
  }
  .dropdown2 li{width: 100%;;}
  
  .dropdown2 a span {
    cursor: pointer;
    display: block;
    line-height: 29px;
    padding-left: 10px;
  }
  
  .dropdown span.value {
    display: none;
  }
  
  .dropdown dd ul li a {
    padding: 0 5px;
    line-height: 59px;
    display: block;
    padding-left: 11px;
  }
  
  .dropdown dd ul li a:hover {
    background-color: #e8e8e8;
  }
  
  .dropdown img.flag {
    border: none;
    vertical-align: middle;
    padding: 11px;
  }
  
  .flagvisibility {
    display: none;
  }

.sub_content{
  font-size: 18px;
  line-height: 24px;
  color:#444444;
  font-weight: 400; 

}

.subcontent{
  font-size: 28px;
  text-align: center;
  color:#222222;
  font-weight: 600;
  padding-bottom:30px;
  }

.subcontent:after {
  content: "";
  text-align: center;
  margin:20px auto 0 auto;
  display: block;
  width: 100px;
  border-bottom: 2px solid #ff2222;;
}


  .subcont_txt1{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color:#444444;
    font-weight: 400; 
  }
  
  .subcont_txt1  .boldtext{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color:#444444;
    font-weight: 600; 

  }
  .sub0101_01{
    text-align: center;
    padding-top:40px;
    padding-bottom:80px;
  }

.subcont_title{
  font-size: 34px;
  text-align: center;
  color:#222222;
  font-weight: 500; 
  padding-bottom:27px;

}
.subcont_text{
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color:#444444;
  font-weight: 400; 
  padding-bottom:40px;

}


.subcont_title2{
  font-size: 34px;
  text-align: center;
  color:#222222;
  font-weight: 500; 
  padding-bottom:40px;

}
.subcont_text2{
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color:#444444;
  font-weight: 400; 
  padding-bottom:20px;


}

.ul_list{
  text-align: center;
}
.ul_list_p{
  font-size: 0;
  padding: 0;
  margin: 0;
}
.ul_list_p li{
  display: inline-block;
  vertical-align: top;
  margin-right:5px;
  margin-bottom:5px;
}
.ul_list_p li{
  display: inline-block;
  margin-right:5px;
  margin-bottom:5px;
}
.pt_40{padding-top:40px;}
.pd_80{ padding-bottom:80px;}
.ul_list li{
  display: inline-block;
  margin-right:11px;
  vertical-align: top;
}
.ul_list li:last-child{
  margin-right:0;
}

.sub0101_box{
  position: relative;
  width: 290px;
  height: 290px;
  border:1px solid #d7d7d7;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1); 
  -o-transform:scale(1);  
  transform:scale(1);
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  transition:.3s;
}
.sub0101_box:hover  {
  transform:scale(1.1); /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대 */
  -o-transform:scale(1.1); 
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transition: transform .35s;  
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
  /* 마우스 오버시 이미지가 즉시 커지지 않고 30.5 second 의 시간에 걸쳐 커지는 애니메이션 효과*/
}
.subcont_text1{
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color:#444444;
  font-weight: 400; 
  padding-bottom:40px;
}
.sub01_box_img{
  text-align:center;
  padding-top:52px;
}
.sub01_box_t1{
  font-size: 20px;
  text-align: center;
  color:#222222;
  font-weight: 600; 
  padding-top:28px;
}

.sub01_box_t2{
  font-size: 13px;
  text-align: center;
  color:#e22038;
  font-weight: 400; 
  padding-top:10px;
}

.sub01_box_t3{
  font-size: 14px;
  text-align: center;
  color:#444444;
  font-weight: 400; 
  padding-top:25px;
}

.red_t{
  color:#e21c34;
  font-size:18px;
  font-weight:500;
}

.sub0201_01{
  text-align: center;
  padding-top:40px;
  padding-bottom:80px;
}
.sub0201_box{
  border:1px solid #d7d7d7;

}
.sub0201_box_t1{
  font-size: 24px;
  text-align: center;
  color:#222222;
  font-weight: 600; 
  padding-top:36px;
}

.sub0201_box_t1 .red_c{
  color:#e21c34;
  font-size:24px;
  font-weight: 600; 
}
.sub0201_box_t2{
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color:#444444;
  font-weight: 400; 
  padding-top:18px;
  padding-bottom: 35px;

}

.sub0103_box{
  position: relative;
  width: 326px;
  height:380px;
  border:1px solid #d7d7d7;
  text-align: left;
  padding:0 12px;
  vertical-align: top;
}
.box_num{
  position: absolute;
  right:35px;
  top:35px;
  font-size: 42px;
  color:#efefef;

}

.sub0103_box_step1{
  padding-left:10px;
  border-bottom:1px solid #d7d7d7;
}

.sub0103_box_img{
  padding-top: 50px;
}
.sub0103_box_t1{
  padding-top:30px;
  color: #222222;
  font-size:20px;
  line-height: 100%;
  padding-bottom: 10px;
}
.sub0103_box_t2{
  padding-bottom: 20px;
  color: #e22038;
  font-size:13px;
  line-height: 100%;
}
.sub0103_box_t3{
  color:#444444;
  font-size:14px;
  line-height:18px;
  padding-top:20px;
  padding-left:10px;
}


.sub0105_ul{
  position: relative;
  margin-top:60px;
  border-top: 3px solid #9b9b9b;
  
}
.sub0105_ul li{
  
}
.sub0105_table{
  position: relative;
  
}
.sub0105_table tr td{
    vertical-align: top;
    padding:40px 0 40px 0;
    border-bottom: 1px solid #d7d7d7;
}
.sub0105_table tr td.one_photo{
  width: 510px;

}

.sub0105_boximg{
  font-size: 0;
  padding: 9;
  margin: 0;
  list-style: none;;
}
.sub0105_boximg li{
  display: inline-block;
  margin-right:7px;

}
.sub0105_boximg li:last-child{
  margin-right: 0;
}
.sub0105box_t1{
  font-size:24px;
  font-weight: 600;
  color:#222222;
  padding-top:25px;
  padding-left: 30px;
  padding-bottom: 29px;
}
.sub0105box_t2{
  font-size:14px;
  line-height: 20px;
  font-weight: 400;
  color:#444444;
  height:78px;
  padding-left: 30px;
}
.maps_box{
  border-top:2px solid #222222;
  padding-top:39px;
  margin-top:50px;
  height:560px;
}
.maps_bottom{
  padding-top:61px
}
.maps_bottom li{
  display: inline-block; 
  vertical-align: top;
}
.maps_txtbox{
  width: 196px;
  height:106px;
  line-height: 106px;;
  text-align: center;
  border:1px solid #ebebeb;
  margin-right: 23px;;
}
.maps_txt1{
  background:url("../images/icon_maps.png") no-repeat;
  border-bottom:1px solid #ebebeb;
  width: 100%;
  height:37px;
}