@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');

/* CSS Document */
html,body{padding:0; margin:0;}
.container{width:1850px;margin:0 auto; }

/* Default Setting */
html, body, div, input, label, select, textarea, button, h1, h2, h3, h4, h5, h6, strong, p, span, a, ul, li, dl, dt, dd, a, ::after, ::before { font-family: 'Noto Sans KR', 'Malgun Gothic', 'Dotum', sans-serif; font-size: 14px; color: #000; font-weight: normal; letter-spacing: -1px;}
*, ::before, ::after {margin: 0; padding: 0; box-sizing: border-box; letter-spacing: -1px;}
html, body {font-family: 'Noto Sans KR',  sans-serif; font-size: 14px; color: #000; font-weight: normal; letter-spacing: -1px;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, strong, address {display: block;}
ul, ol, li {list-style: none;}
a {display: inline-block; text-decoration: none; vertical-align: top;}
span {display: inline-block; vertical-align: top;}
img {max-width: 100%; border: 0; vertical-align: top;}
em, address {font-weight: normal; font-style: normal;}
hr {border: 0; margin: 30px 0; padding: 0; border-bottom: 1px solid #000;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ""; content: none;}
table {width: 100%; border-collapse: collapse; border-spacing: 0; table-layout: fixed; word-break: break-all;}
textarea {resize: none; outline: 0; vertical-align: top;}
button {display: inline-block; font-family: inherit; text-decoration: none; background: transparent; border: none; outline: 0; white-space: nowrap; vertical-align: top; cursor: pointer;}
.white-popup {position: relative; background: #FFF; padding: 20px; width: auto; max-width: 500px;margin: 20px auto; }
.s1wiper-container {width: 600px; height: 300px;}

#top_gnb *{margin:0;padding:0;list-style:none}
#top_gnb img{border:0}
#top_gnb a{text-decoration:none}

#top_gnb {position:relative;width:100%;  min-width:1850px;  height:80px; background:#222222;}
#top_gnb .DB_wrap{position:relative;width:1850px;margin:0 auto;/*비표준=>left:50%;margin-left:-500px*/;height:80px}
#top_gnb .DB_wrap h1{margin:10px 25px 0 0;float:left; color:#fff; font-size:0px}
#top_gnb .DB_wrap h1 a{color:#fff;}
#top_gnb .DB_wrap .DB_main{float:left;_padding-top:29px}
#top_gnb .DB_wrap .DB_main li{float:left;width:270px; height:80px; line-height:80px;  text-align:center}
#top_gnb .DB_wrap .DB_main li a{display:block;width:100%;height:100%; color:#fff; font-size:20px;}
#top_gnb .DB_wrap .DB_main li.DB_select{}
#top_gnb .DB_wrap .DB_main li.redbox{background: url("../images/gnb_redbox.jpg");}

#top_gnb .DB_mask{position:absolute;z-index:9; width:100%;min-width:1000px;height:338px/*서브메뉴전체높이*/;overflow:hidden;display:none}
#top_gnb .DB_mask .DB_move{position:relative;width:100%; background:url('../images/gnb_overbg.png') repeat-x center 0;height:338px;top:-338px/*위로 메뉴숨기기*/;}
#top_gnb .DB_mask .DB_move .DB_subSet{position:relative;width:1850px;margin:0 auto;/*비표준=>left:50%;margin-left:-500px*/;padding-top:20px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul{float:left;width:270px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul:first-child{margin-left:232px}/*비표준=> 첫번째 li에 클래스로 적용*/
#top_gnb .DB_mask .DB_move .DB_subSet ul li{text-align:center; font-size: 18px;line-height: 40px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul li a{display:block;color:#ffffff; font-size:18px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul li a:hover{color:#59afe4;font-weight:bold;letter-spacing:-1px;}
#top_gnb .DB_mask .DB_move .DB_subSet ul li.DB_select a{color:#59afe4;font-weight:bold;letter-spacing:-1px;}
#top_gnb .DB_mask .DB_move .DB_close{position:absolute;top:130px;right:10px;cursor:pointer;}

#warp .top_select{position:relative;  min-width:1850px;  max-width: 1920px; margin:0 auto; background:#222222; height: 40px; border-bottom:1px solid #5a5a5a; }
#warp .top_select .container{padding-top:13px;}
#warp .top_select .container .ts_right{text-align:right; float:right; margin-right:10px; display: inline-block;}
#warp .top_select .container .ts_right li{display:inline-block; margin:0 9px 0 0;}
#warp .top_select .container .ts_right li::before{padding-right:9px ;content:"┃"; color: #fff;}
#warp .top_select .container .ts_right li:first-child::before{content: "";}
#warp .top_select .container .ts_right a{color:#9c9c9c;} 

/* 셀렉트 박스 */
.where {display: block;_margin: 25px 15px;font-size: 11px;color: #9c9c9c;text-decoration: none;font-family: verdana;font-style: italic;}
.selectbox {position: relative;width: 60px;_border: 1px solid #999;z-index: 1;float:right;}
.selectbox:before {content: "";position: absolute;top: 50%;right: 15px;width: 0;height: 0;margin-top: -1px;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #9c9c9c;}
.selectbox label {position: absolute;top: 1px;left: 5px;padding: 0 0px;color: #999;z-index: -1;}
.selectbox select {width: 100%;height: auto;line-height: normal;font-family: inherit;padding: 0 10px;border: 0;opacity: 0;filter:alpha(opacity=0);-webkit-appearance: none;-moz-appearance: none;appearance: none;}
/* 셀렉트 박스 */

/* 체크 박스 */
.checks {position: relative; padding-bottom:5px;}
.checks input[type="checkbox"] {position: absolute;  width: 1px;  height: 1px;  padding: 0;  margin: -1px;  overflow: hidden; clip:rect(0,0,0,0);  border: 0}
.checks input[type="checkbox"] + label {color: #fff;  display: inline-block;  position: relative;  cursor: pointer;  -webkit-user-select: none;  -moz-user-select: none; -ms-user-select: none;}
.checks span{color:#fff; margin-left:10px;}
.checks input[type="checkbox"] + label:before {content: ' ';  display: inline-block;  width: 14px; height: 14px; line-height: 14px;  margin: -2px 8px 0 0;  text-align: center;   vertical-align: middle;  background: #fafafa;  color:#fff;  border-radius : 3px;  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.checks input[type="checkbox"]:checked + label:before {content: '\2714'; color: #fff; font-size:12px; background: #ff0e26;}
/* 체크 박스 */

/* 버튼색 */
.darkbtn{border: 1px solid #000000;}
.wwhitebtn{border: 1px solid #ffffff; color:#fff !important;}
/* 버튼색 */

.top_title{font-size: 32px; color:#000000; font-weight: 600; padding-top:60px; padding-bottom:20px; text-align:center;}

.scale {transform: scale(1);  -webkit-transform: scale(1);  -moz-transform: scale(1);  -ms-transform: scale(1);  -o-transform: scale(1);  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/}
.scale:hover {transform: scale(1.2);  -webkit-transform: scale(1.2);  -moz-transform: scale(1.2); -ms-transform: scale(1.2);  -o-transform: scale(1.2);}
.img {width:325px; height:280px; overflow:hidden }   /* 부모를 벗어나지 않고 내부 이미지만 확대 */
.swiper-container {width: 100%;  height: 100%;}
.swiper-slide {text-align: center;  font-size: 18px;  background: #fff;  display: -webkit-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-box-pack: center;  -ms-flex-pack: center;  -webkit-justify-content: center;  justify-content: center;  -webkit-box-align: center;  -ms-flex-align: center;  -webkit-align-items: center;  align-items: center;}



#warp .visual{position:relative;  min-width:1850px;  height:810px; background:#000;}
#warp .visual .visual_img1{background: url("../images/index_slide1.png"); background-size: 100%; max-width:2000px; height:810px;}
#warp .visual .container{}                  

#warp .content_main{  min-width:1850px; }
#warp .content_main .container{}

#warp .top5_list{height:540px;}
#warp .top5_list.container{position: relative; width:1250px; }
#warp .photo_list{height:665px;}
#warp .photo_list.container{position: relative; _width:1250px; }

#warp .index_com_info{  min-width:1850px; height: 330px; background:url("../images/index_com_bg.png") center 0; }
#warp .index_com_info .container{position: relative; width:1250px; }
#warp .index_com_info .container .index_com_info_t1{font-size: 34px; color:#000000; font-weight: 600; padding-top:48px; text-align:center;}
#warp .index_com_info .container .index_com_info_t2{font-size: 16px; color:#444444; font-weight: 500; line-height:24px; padding-top:20px; text-align:center;}
#warp .index_com_info .container .index_com_info_t3{font-size: 16px; color:#fff; font-weight: 400; line-height:20px; padding-top:32px; padding-bottom:50px;}




#warp .photo_list{position:relative;   min-width:1850px;  height:565px;  }
#warp .photo_list .container{}

#warp .index_form{position:relative;  min-width:1850px;  height:530px; background:url("../images/index_form_bg.png") center 0;}
#warp .index_form .container{position: relative; width:1250px;}
.index_form_l{position:relative; display:inline-block; width: 600px;}
.index_form_r{position:relative; display:inline-block; width: 600px; padding-top:175px; vertical-align: top;}
.index_form_l_t1{font-size: 24px; color:#fff; font-weight: 500; padding-top:115px;}
.index_form_l_t2{font-size: 50px; color:#fff; font-weight: 600; line-height:56px; padding-top:20px;}
.index_form_l_t3{font-size: 16px; color:#fff; font-weight: 400; line-height:22px; padding-top:32px; padding-bottom:50px;}
.index_com_info_icon{position:relative; margin:0 auto; text-align:center; padding-top:30px; padding-left:80px;}
.index_com_info_btn{text-align: center; margin: 0 auto; padding-top: 30px;}
.icon1{background:url("../images/willpower.png") no-repeat;}


.submit_form_table{position: relative; _width:530px;}
.submit_form_table tr{}
.submit_form_table tr td{font-size:14px; line-height:18px; vertical-align: top;}
.index_input{width: 260px; height: 46px; border:1px solid #fff; padding-left: 20px;;}
.index_submit{width: 182px; height: 139px;}
.index_submit img{border:0; padding:0; margin:0;}
.input_labal{text-align:right; font-size:16px; height: 55px; font-weight:600; color:#fff; padding-right:22px; vertical-align: middle !important;}
.input_size{width:270px; height:55px;;}

.ico_gb{height:44px; padding-left:65px; font-size:14px; line-height:16px; margin-right:80px; padding-top:10px; display: inline-block;}

.btn { display:block; width:200px; height:40px; line-height:40px; border:1px #3399dd solid;; margin:15px auto; background-color:#66aaff; text-align:center; cursor: pointer; color:#333; transition:all 0.9s, color 0.3; } .btn:hover{color:#fff;}
.hover1:hover{ box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset; } 
.hover2:hover{ box-shadow:-200px 0 0 0 rgba(0,0,0,0.5) inset; } 
.hover3:hover{ box-shadow: 0 80px 0 0 rgba(0,0,0,0.25) inset, 0 -80px 0 0 rgba(0,0,0,0.25) inset; } 
.hover4:hover{ box-shadow: 200px 0 0 0 rgba(0,0,0,0.25) inset, -200px 0 0 0 rgba(0,0,0,0.25) inset; }


#warp .banner_slide{position:relative;  min-width:1850px;  height:215px;  }
#warp .banner_slide .container{position:relative; padding-top:64px;}
#warp .banner_slide .container .slide_banner{z-index:2;  position: relative; margin:0 auto;  text-align:center; font-size:0;}
#warp .banner_slide .container .slide_banner li{display:inline-block; margin-right:24px;}
#warp .banner_slide .container .slide_banner_aroow{margin-top:-65px; z-index:1;}
#warp .banner_slide .container .index_bn_left{position: absolute;  width: 25px; height: 48px;}
#warp .banner_slide .container .index_bn_right{position: absolute;   width: 25px; height: 48px; right:0;}
#warp .googlemaps{position:relative; height:400px;  min-width:1850px; }

#warp .foot_link{position:relative; height:50px;  min-width:1850px;  background:#373737;}
#warp .foot_link .container{width:1250px;}
#warp .foot_link .container .foot_ul{text-align:center; padding-top: 19px;;}
#warp .foot_link .container .foot_ul li{display:inline-block; margin:0 60px 0 0; font-size:14px; }
#warp .foot_link .container .foot_ul li::before{padding-right:60px ;content:"┃"; color: #cccccc;}
#warp .foot_link .container .foot_ul li:first-child::before{content: "";}
#warp .foot_link .container .foot_ul a{color:#cccccc;} 
#warp .foot{position:relative;  min-width:1850px;  height:227px; background:#2a2a2a;}
#warp .foot .container{position:relative;  width:1250px;}
#warp .foot .container .copy_1{font-size:14px; color:#8a8a8a; line-height:20px; padding-top:25px; padding-left:20px;}
#warp .foot .container .copy_1 span{font-size:14px; color:#aeaeae; font-weight:600; padding-top:10px;}
#warp .foot .container .copy_2{position:absolute;  top:25px; right:25px;}
#warp .foot .container .foot_logo{margin-top:50px;    margin-left: 40px; background:url("../images/foot_logo.png"); width: 180px;height: 49px;}
/* 셀렉트 박스 */
.where {display: block;_margin: 25px 15px;font-size: 11px;color: #cccccc;text-decoration: none;font-family: verdana;font-style: italic;}
.foot_selectbox {position: relative;_width: 60px; padding: 9px 50px 9px 14px; border: 1px solid #cccccc;z-index: 1;float:right;}
.foot_selectbox:before {content: "";position: absolute;top: 50%;right: 15px;width: 0;height: 0;margin-top: -1px;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #9c9c9c;}
.foot_selectbox label {position: absolute;top: 1px;left: 5px; padding: 9px 50px 9px 14px;color: #999;z-index: -1;}
.foot_selectbox select {width: 100%;height: auto;line-height: normal;font-family: inherit;padding: 0 10px;border: 0;opacity: 0;filter:alpha(opacity=0);-webkit-appearance: none;-moz-appearance: none;appearance: none;}
/* 셀렉트 박스 */


.swiper_position_b{width: 1720px; overflow: hidden; margin-left:70px;}
.top_110{top:110px !important;}

.swiper_position_p{padding-top:30px;}
.photo_border{border:1px solid #ebebeb; width: 278px; height: 333x;;}
.photo_border:hover{border:1px solid #ebebeb; width: 278px; height: 333x; box-shadow: 3px 3px 7px #efefef;}
.photo_list_btn{text-align: center; margin:0 auto; padding-top:30px;}